* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    /* font-family:  sans-serif, sans-serif; */
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    /* background-image: ; */ 
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body { 
    overflow-x: clip;
}

section.header {
    margin: auto;
    position: relative;
    height: 115px;
    border: 1px solid red;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: start;

    position: sticky;
    overflow-y: visible;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    padding: 10px 300px; /* change header top and bottom blank area */

    background: rgb(82, 12, 12); 
    min-width: 1vh;
}

.logo {
    padding: 0px 0 0px 0; /* logo top and bottom blank area */
}

.navbar {
    display: flex;
    align-items: center;
    padding: 0 0 0 0px;
    justify-content: center;
} 

.navbar a {
    color: brown;
    font-size: large;
    padding: 5px 1.5rem;
    font-weight: bold;

    text-decoration: none;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: rgb(227, 17, 17);
}

#menu-icon {
    font-size: 3.5rem;
    cursor: pointer;
    color: pink;
    display: none;
    align-self: center;
    justify-content: center;
}

section.Home {
    position: absolute;
    height: 460px;
    /* border: 1px solid maroon; */
    justify-items: center;
    margin-top: -280px;
    z-index: 50;
}

section.About {
    position: absolute;
    height: 460px;
    margin-top: 700px;
    /* border: 1px solid maroon; */
    z-index: 50;
}

section.Gallery {
    position: absolute;
    height: 460px;
    margin-top: 1742px;
    /* border: 1px solid maroon; */
    z-index: 50;
}

section.Contact {
    position: absolute;
    height: 460px;
    margin-top: 5940px;
    /* border: 1px solid maroon; */
}

section.home, section.about, section.gallery, section.contact {
    position: relative;
    /* padding: 10rem 9% 2rem; */
    padding: 5rem;
    background: rgb(255, 215, 221);
    border: 1px solid blue;
    min-height: 470px;
}

/* HOME DESIGN */

.home {
    margin: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 9%;
    /* border: 1px solid blue; */
    flex-direction: column;
}

.bg-image {
    top: 20%;
    width: 100%;
    height: 80%;
    /* border: 1px solid blue; */
    position: absolute;
    
    background-image: linear-gradient(rgba(82, 12, 12, 0.75) 0, rgba(255, 173, 186, 0.75)), url(spy\ x\ family\ fanart\ copy.jpg);
    
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;


    filter: blur(1px);
}

.bg-text {

    color: brown;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;

    top: 20%;
    width: 50%;
    height: 80%;
    border: 1px solid blue;
    position: relative;

}

.btn-box {
    position: relative;
    display: flex;
    justify-content: center;
    height: 5rem;
    border: 1px solid blue;
}

.btn-box .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: rgb(255, 202, 211);
    border: brown;
    border-radius: 3rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: darkred;
    z-index: 1;
    overflow: hidden;
}

.btn-box .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgb(89, 24, 24);
    z-index: -1;
    transition: .5s;
}

.btn-box .btn:hover::before {
    width: 100%;
}

/* ABOUT DESIGN */

.about {
    display: flex;
    justify-content: center;
    flex-direction: row;
    border: 1px solid blue;
    gap: 10rem;
    margin: auto;
}

.about-img {
    position: relative;
    justify-content: center;
    align-items: center;
    border: 1px solid blue;
    width: 70rem;
    height: 100%;
    margin: 15px 0 0 0px;
} 

.about-img img {
    width: 100%;
    /* border: 1px solid blue; */
}

.about-content {
    font-size: 16px;
    width: 1224px;
    column-gap: 24px;
    display: block;
    text-align: justify;
    padding: 20px;
    margin: 15px 0 0 0px;
    background: rgb(255, 202, 211);
    border: 1px solid black;
    border-radius: 5%;
}

.about-content p {
    margin-top: 15px;
    /* border: 1px solid black; */
}

#ch {
    display: none;
}

#ch:checked ~ .content-more {
    display: block;
}

#ch:checked ~ label {
    display: none;
}

.content-more {
    display: none;
}

label {
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
    color: rgb(255, 132, 152);
    background-color: transparent;
    margin-top: 10px;
}


/* GALLERY DESIGN  */

.slide-container {
    flex-direction: row;
    max-width: 2000px;
    max-height: 500px;
    width: 100%;
    height: 85vh;
    align-items: center;
    overflow: hidden;
    background: transparent;
    /* border: 1px solid blue; */
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    scroll-padding: 30px;
    padding-top: 50px;
}

.slide-wrapper {
    position: relative;
}

/* .slide-button { 
    position: absolute;
    top: 50%;
    height: 50px;
    width: 50px;
    color: red;
    border: none;
    outline: none;
    background: pink;
    font-size: 2.2rem;
    cursor: pointer;
    border-radius: 50%;
    transform: translateY(-50%);
    z-index: 1;
} 

.slide-button:hover {
    background: pink;
}

.slide-button#prev-slide {
    left: 20px;
    top: 30rem;
}

.slide-button#next-slide {
    right: 20px;
    top: 30rem;
}
*/

.image-list {
    display: grid;
    width: 100%;
    height: 35rem;
    position: relative;
    left: 0;
    display: flex;
    align-items: center;
    background: rgb(255, 160, 176);
    /* border: 1px solid black; */
    gap: 15px;
    overflow: hidden;
    overflow-x: auto;
    scrollbar-width: none;
    grid-template-columns: repeat(10,1fr);
    object-fit: contain;
    margin-bottom: 5px;
    padding: 15px;
}

.slides-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px 0 30px;
}

.img {
    position: relative;
    width: 100;
    height: 300px;
    object-fit: cover;
}



/* .scrollbar {    
    height: 24px;
    width: 100%;
    background: red;
    display: flex;
    align-items: center;
    border: 1px solid rgb(186, 186, 255);
}

.scrollbar .scrollbar-track {
    height: 2px;
    width: 100%;
    background: pink;
    position: relative;
    border-radius: 4px;

    border: 1px solid blue;
}

.scrollbar-track:hover {
    height: 4px;
}

.scrollbar .scrollbar-thumb {
    position: absolute;
    height: 100%;
    width: 50%;
    background: rgb(255, 79, 108);
    border-radius: inherit;
    cursor: grab;
    border: 1px solid rgb(0, 0, 101);
}

.scrollbar-thumb:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
}

.scrollbar-thumb::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
} */


/* .slide-container::-webkit-scrollbar {  
    height: 24x;
    display: flex;
    width: 100%;
    background: red;
    display: flex;
    align-items: center;
    border: 1px solid rgb(186, 186, 255);
}

.slide-container::-webkit-scrollbar-track {
    height: 2px;
    width: 100%;
    background: pink;
    position: relative;
    border-radius: 4px;

    border: 1px solid blue;
}

.slide-container::-webkit-scrollbar-thumb {
    background: rgb(255, 79, 108);
    position: absolute;
    height: 100%;
    width: 50%;
    background: rgb(255, 79, 108);
    border-radius: inherit;
    cursor: grab;
    border: 1px solid rgb(0, 0, 101);
}

.slide-container::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 93, 93);
}*/

.about-title {
    font-size: 50px;
    color: rgb(255, 79, 108);
}


/* SOCIALS DESIGN */

.socials {

    position: relative;
    bottom: 2rem;
    width: 300px;
    display: flex;
    justify-content: space-between;
    justify-self: center;
    align-self: center;
    /* border: 1px solid black; */
    margin: auto;
}

.socials a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background: pink;
    border: .2rem solid rgb(243, 116, 137);
    border-radius: 30%;
    font-size: 50px;
    color: rgb(255, 31, 68);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.socials a:hover {
    color: pink;
}

.socials a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: darkred;
    z-index: -1;
    transition: .5s;
}

.socials a:hover::before {
    width: 100%;
}

.heading {
    color: rgb(255, 80, 109);
}

.contact {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.contact form {
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
    /* border: 1px solid black; */
}

.input-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.input-field {
    position: relative;
    width: 49%;
    margin: .8rem 0;
}

.input-email , .input-message {
width: 100%;
}


.input-field input,
.textarea-field textarea {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: rgb(255, 122, 144);
    background: rgb(255, 202, 211);
    border-radius: .6rem;
    border: .2rem solid rgb(255, 80, 109);
}

.input-field input::placeholder,
.textarea-field textarea::placeholder {
    color: rgb(255, 80, 109);
}

.contact form .focus {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: red;
    border-radius: .6rem;
    z-index: -1;
}

.contact form .textarea-field {
    position: relative;
    margin: .8rem 0 2.7rem;
    display: flex;
}

.contact form .textarea-field textarea {
    resize: none;
}

.contact form .btn-box.btns .btn {
    cursor: pointer;
}


/* FOOTER DESIGN */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-wrap: wrap;
    padding: .5rem 9%;
    background: rgb(255, 96, 122);
    z-index: 10;
    position: sticky;
}

.footer-iconTop a {
    margin-left: 110rem;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: pink;
    border: .2rem solid rgb(255, 151, 168);
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;
}

.footer-iconTop a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 157, 173);
    z-index: -1;
}

.footer-iconTop a:hover::before {
    width: 100%;
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: red;
    transition: .5s;
}

.footer-iconTop a:hover i {
    color:rgb(89, 24, 24)
}

/* header{
    height: 20%;
    font-size: 20px;
  }
  .home_image_one {
      background: url("party3a.jpg") no-repeat center center fixed; 
      display: inline-block;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:40%;
    width:100%;
  }
  
  .home_image_two {
      background: url("party2a.jpg") no-repeat center center fixed; 
      display: inline-block;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:40%;
    width:100%;
  } */

h1 {
    font-size: 70px;
}

h2 {
    font-size: 30px;
}

/* BREAKPOINTS */

@media (max-width: 1200px) {

    html {
        font: 55%;
    }

}

@media (max-width: 991px) {

    .header {
        padding: 2rem 4%;
        width: 50%;
    }

    .section {
        padding: 10rem 4% 2rem;
        width: 100%;
        height: 100%;
        position: fixed;
    }

    .home {
        padding: 0 4%;
        width: 100%;
    }

    .footer {
        padding: 2rem 4%;
    }
}

@media (max-width: 768px) {

    .header {
        background: pink;
        position: sticky;
        justify-content: space-between;
    }

    .logo {
        align-content: center;
        justify-content: center;
        border: 1px solid blue;
        margin-left: -500px;
        margin-top: 5px;
    }

    #menu-icon {
        position: sticky;
        display: block;
        border: 1px solid black;
        margin-right: -70px;
        margin-top: -200px;
    }

    .navbar {
        
        position: absolute;
        top: 100%;
        left: -100%;
        width: 30%;
        margin: auto;
        padding: 1rem 4%;
        background: darkred;
        box-shadow: 0 .5rem 1rem darkred;
        flex: auto;
        flex-direction: column;
        align-items: end;
        transition: .25s ease;
        transition-delay: .25s;
    }

    .navbar .active {
        left: 0;
        transition-delay: 0s;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .bg-text {
        width: 20%;
    }
    
    .about {
        flex-direction: column;
        gap: 10px;
    }

    .about-img {
        width: 70%;
        align-self: center;
    }

    .about-content {
        width: auto;
        border-radius: 20px;
    }
}
